<li class="product-card has-form second-img-hover li" style="" role="none">
    <figure class="">
        <span class="s1lb label">
        </span>
        <a href="{URL}" aria-label="{TITLE}">
            <picture>
                <img src="{SRC}" width="430" height="430" alt="Abrigo Deportivo" loading="lazy">
            </picture>
        </a>
        <button class="wishlist-productcard hidden" title="Wishlist" data-product-id="8721675878578"
            data-variant-id="46997397766322">
            <i class="icon-heart-outline"></i>
        </button>
        <form method="post" action="/cart/add" id="quick-add-template--20326872940722__16603001534a9c90c987216758785781"
            accept-charset="UTF-8" class="f8pr form-card cart-initialized" enctype="multipart/form-data"
            novalidate="novalidate">
            <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
            <fieldset>
                <input type="hidden" name="id" value="46997397766322">
                <p class="submit"><span class="input-amount semantic-input-initialized input-amount-listening"><span
                            class="semantic-amount">
                            <label for="quantity-quick-add-template--20326872940722__16603001534a9c90c987216758785781"
                                class="hidden">Quantity</label>
                            <input type="number"
                                id="quantity-quick-add-template--20326872940722__16603001534a9c90c987216758785781"
                                name="quantity" value="1" min="1" step="1" required="">
                            <a class="incr" role="button" aria-label="Increase by 1"></a><a class="decr disabled"
                                role="button" aria-label="Decrease by 1"></a></span></span><button type="submit"
                        class="overlay-buy_button compact" aria-label="Añadir a la cesta"><i aria-hidden="true"
                            class="icon-cart"></i>
                    </button>
                </p>
            </fieldset>
            <input type="hidden" name="product-id" value="8721675878578"><input type="hidden" name="section-id"
                value="template--20326872940722__16603001534a9c90c9">
        </form>
    </figure>
    <div>
        <h3><span class="small">
                ActiveSport
            </span><a href="/products/abrigo-deportivo">{TITLE}</a>
        </h3>
        <input type="hidden" name="id" value="46997397766322">
        <p class="stock  overlay-valid list-hide ">
            <span>
                <i aria-hidden="true" class="icon-check"></i>
                Entrega 2 a 3 días hábiles
            </span>
        </p>
    </div>
    <div class="static">
        <p class="price s1pr">₡ 27.900,00</p>
        <form method="post" action="/cart/add" id="quick-add-template--20326872940722__16603001534a9c90c987216758785782"
            accept-charset="UTF-8" class="f8pr form-card cart-initialized" enctype="multipart/form-data"
            novalidate="novalidate">
            <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
            <fieldset>
                <input type="hidden" name="id" value="46997397766322">
                <p class="submit"><span class="input-amount semantic-input-initialized input-amount-listening"><span
                            class="semantic-amount">
                            <label for="quantity-quick-add-template--20326872940722__16603001534a9c90c987216758785782"
                                class="hidden">Quantity</label>
                            <input type="number"
                                id="quantity-quick-add-template--20326872940722__16603001534a9c90c987216758785782"
                                name="quantity" value="1" min="1" step="1" required="">
                            <a class="incr" role="button" aria-label="Increase by 1"></a><a class="decr disabled"
                                role="button" aria-label="Decrease by 1"></a></span></span><button type="submit"
                        class="overlay-buy_button compact" aria-label="Añadir a la cesta"><i aria-hidden="true"
                            class="icon-cart"></i>
                    </button>
                </p>
            </fieldset>
            <input type="hidden" name="product-id" value="8721675878578"><input type="hidden" name="section-id"
                value="template--20326872940722__16603001534a9c90c9">
        </form>
    </div>
</li>