#cart>ul.text-center {
    display: none !important;
}

#cart {
    .sticky-in-panel {
        ul {

            li {
                font-weight: bold;
                font-size: 16px;
            }

            .strong {
                display: none !important;
            }
        }
    }
}

.seller-name-for {
    margin-right: 3px !important;
}

.seller-name {
    color: #48a2b4;
    font-weight: bold;

    a {
        text-decoration: underline !important;

        &:hover {
            color: #295d67 !important;
        }
    }
}