.cart-drawer__header {
  padding: 12px 15px 12px 15px;

  h2 {
    margin: 0;
  }

  .close-button {
    position: relative;
    height: 22px;
    width: 22px;
    top: 0;
    right: 5px;
  }
}

.shipping-address-header-info-disc {
  color: #000 !important;
  font-size: 12px !important;
  margin: 0;
}

.cart-drawer__summary {
  gap: 15px;
  padding-top: 0;
}

.cart__total-value {
  text-align: center;
  width: 100%;
}

.shipping-error {
  background: #ffd3d3;
  padding: 5px 0 5px 10px;
  font-size: 12px;
  border: 1px solid red;
  border-radius: 4px;
  margin: 10px 0 0 0;
  color: #b20000;
  text-align: left;
}

.shipping-address-header {
  display: flex;
  justify-content: space-between;
  padding: 18px 15px;
  align-items: center;
  background: #ffffff;

  .arrow {
    transform: rotate(180deg);
    width: 12px;
    height: 12px;
  }

  &-btn {
    background: #eef1ea;
    border: none;
    padding: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
  }

  h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: black !important;
  }

  p {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin-top: 6px;
    color: #228a9b;
    margin-bottom: 0;
  }
}

.cart-drawer__dialog {
  z-index: 999;
  bottom: 0 !important;
}

.shipping-info-disclaimer {
  text-align: left;
  font-size: 13px;
  margin-top: 5px;
  color: #6c6c6c;
}

.cart-discount {
  display: none;
  width: 25%;
}

.cart__ctas {
  img {
    width: 190px;
    margin: 0 auto 0;
  }
}

.cart-actions {
  padding: 5px 0;
  margin: 0;
  border: none;
}

.shipping-address {
  display: none;
  flex-direction: column;
  padding: 0 30px 25px;
  background: #ffffff !important;

  select {
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    font-size: 14px;
    color: #000;
  }
}

#shipping-address-container {
  margin: 0;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);

  &.show-shipping {
    .arrow {
      transform: rotate(0);
    }

    .shipping-address {
      display: flex;
    }
  }
}